@model List<BasketVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <nav class="breadcrumb-section theme1 bg-lighten2 pt-110 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center mb-15">
                        <h2 class="title text-dark text-capitalize">Sebet</h2>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<div class="container">
    <div class="row mt-3" id="basketBox">
        @if (Model.Count != 0)
        {
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Count</th>
                            <th scope="col">Minus</th>
                            <th scope="col">Plus</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="parentBody">
                        @foreach (BasketVM item in Model)
                        {
                            <tr id="parentTr">
                                <td>
                                <img src="~/assets/img/product/@item.Image" width="100" />
                                </td>
                                <td>@item.Title</td>
                                <td>@item.Price.ToString("C2")</td>
                                <td>@item.ProductTotalPrice.ToString("C2")</td>
                                <td>
                                    @item.BasketCount
                                </td>
                                <td>
                                    @if (item.BasketCount > 1)
                                    {
                                        <a>
                                            <i class="fas fa-minus minusProduct" data-id="@item.Id"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a>
                                            <i class="fas fa-minus minusProduct d-none" data-id="@item.Id"></i>
                                        </a>
                                    }
                                </td>
                                <td>
                                    @if (item.BasketCount < item.DbCount)
                                    {
                                        <a>
                                            <i class="fas fa-plus plusProduct" data-id="@item.Id"></i>
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a>
                                        <i class="fas fa-trash-alt removeProduct" data-id="@item.Id"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


            <div class="col-12" id="basketTotalPrice">Total: @ViewBag.BasketTotalPrice.ToString("C2")</div>
            <div class="col-12">
                
                    <a asp-controller="basket" asp-action="basketsale" class="btn theme-btn--dark1 btn--lg">Al</a>
                
            </div>

        }
        else
        {
            @if (TempData["success"] != null)
            {
                <div class="mt-3 alert alert-success">@TempData["success"]</div>
            }
            <p>
                Sebet boshdur mehsullari sechmek uchun ya
                <a asp-controller="Home" asp-action="Index">Home</a> ya da
                <a asp-controller="Shop" asp-action="Index">Shop</a> sehifesine baxa bilersiniz
            </p>
        }
    </div>
</div>

